.container{
    margin-top: 10px;
    height: 100%;
}
.Nav{
    display: flex;
}
.input{
    margin-right: auto;
    padding: 10px;
    height: fit-content;
}
.budget{
    margin-left: auto;
    color: white;
    padding: 10px;
    height: fit-content;
}

.Movies {
    display: flex;
    flex-wrap: wrap;
}
span{
    color: aliceblue;
}
.rentedMovies{
    display: flex;
    flex-wrap: wrap;
}
.rented{
    margin-bottom: 20px;
}


